

.loading-bar {
  height: 1%;
  width: 0;
  background-color: red; /* Set the background color of the loading bar */
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
